# Dependencies
node_modules
client/node_modules
server/node_modules

# Environment variables
.env
client/.env
server/.env

# Build output
dist
client/dist
server/dist

# Vite
client/.vite

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Test coverage
coverage